<app-navbar></app-navbar>
<app-header></app-header>

<h1>{{title}}</h1>

<img [src]="imgUrl" alt="Angular Logo">

<button disabled="{{isDisabled}}">this button is disabled using string interpolation</button>
<button [disabled]="isDisabled">not disabled button using property binding</button>

<!-- Class Binding -->
<button
  [class.active]="isActive"
  [class.no-active]="!isActive"
  [style.color]="isActive ? 'white' : 'black'"
  (click)="onClick()"
>Click Me</button>

<input type="text" (keyup)="onInput($event)" (keyup.enter)="onEnter(user)" #user>

<input type="text" [value]="userName" #username (keyup.enter)="updateUsername(username)">

<input type="text" [(ngModel)]="userName">